version: '3.6'

services:

  node:
    restart: always
    build:
      context: ./node
    volumes:
      - './node:/usr/src/app'
      - '/usr/src/app/node_modules'
    # to attach to bash shell:
    stdin_open: true
    tty: true
    ports:
      - "8080:8080"
    depends_on:
      - mysql

  mysql:
    image: mysql:5.7
    restart: always
    environment:
      # should match student's root pass
      MYSQL_ROOT_PASSWORD: root
      MYSQL_USER: banana
      MYSQL_PASSWORD: pass
      MYSQL_ROOT_HOST: "%"
      MYSQL_DATABASE: burgers_db
    # this runs the student's schema file
    volumes:
      - './node:/docker-entrypoint-initdb.d'